/*
.mainMenu {
    margin-left: 180px; 
    margin-top: 50px;
    
    font-size: 20px; 
    padding: 10px 10px;
    background-color: #FDF2E9
    ;
  }
*/
.innerbutton{
    border: 1px solid #EB5B00;
    max-width: 180px;
    height:40px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 50px;
    font-size: 15px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding: 0.6rem;
    flex-shrink: 0; 
    color: #EB5B00;
    background-color: white;
}
.innerbutton:hover{
  border: none;
  background-color: #F9E79F;
}
.hoverCard:hover{
  box-shadow: 0 4px 8px 0 rgba(24, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.addButtomMenu{
  width: 120px;
  font-size: 1rem;
  padding: 5px;
  background-color: #1A5276;
  color: #F9E79F;
  border-radius: 15px;
  border: none;
}
.addButtomMenu:hover{
  background-color: #F9E79F;
  color: #1A5276;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.number-input{
  width: 100px;
  height: 35px;
  font-size: 1rem;
  background-color: #F9E79F;
  border: 1px solid #1A5276;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
 .btnNumumber{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
 }
 .btnNumumber:hover{
   background-color: gray;
   color: white;
 }
 .carousel{
  width:80vw;
  border: 1px solid lightskyblue;
  padding: 1rem;
  border-radius: .6rem;
 }
 .carousel .tabs{
  min-width: 99%;
  list-style: none;
  display: flex;
  gap: .8rem;
  overflow-x: auto ;
 }
 .tabs .tab{
   white-space: nowrap;
   background-color: white;
   border: 1px solid #1A5276;
   padding: 1rem;
   font-size: 1rem;
   border-radius: 1.3rem;
   transition:.2s ease-in-out;
 }
 .tabs .tab:hover{
  box-shadow: 0 4px 8px 0 rgba(24, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
 }
 .tabs .tab:active{
    background-color: #F9E79F;
    border: none;
}
.carousel .icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6rem;
  height: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
}
.carousel .icon:first-child{
  left: 0;
  justify-content: flex-start;
}
.carousel .icon:last-child{
  right: 0;
  justify-content: flex-end;
  
}
.carousel .icon.hide{
   display: none;
}
.icon .left-arrow,.icon .right-arrow{
   display: inline-block;
   width: 2.4rem;
   height: 2.4rem;
   background-color: #fff2ff;
   border-radius: 50%;
   text-align: center;
   font: 200 2rem/2.4rem
}
.icon span:hover{
  background-color: #fff2;
  cursor: pointer;
}

.radio-group input[type="radio"]{
  margin-right: 15px;
  width: 15px;
  height: 15px;
  transform: scale(1.5);
  cursor: pointer;
}
