@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans Thai', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mainMenu { /*ขนาดของเนื้อหาหลักของเมนู*/
  margin-left: 180px; /* Same as the width of the sidenav */
  margin-top: 50px;
  /*margin-right: 340px;*/
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 10px 10px;
  background-color: #FDF2E9
  ;
}